<h1 class="lesson-title">
	Angular 2 Essential. Урок 2 - Components. Настройка маршрутизации.
</h1>

<nav>
	<!--routerLink - директива задает адрес для ссылки -->
	<!--routerLinkActive - директива устанавливает или удаляет класс в зависимости от состояния маршрута-->
	<a routerLink="/list1" routerLinkActive="active">Lesson 1</a>
	<a routerLink="/list2" routerLinkActive="active">Lesson 2</a>
</nav>

<div style="background-color: yellow; width: 90%; float: left">
	<!--router-outlet после данного элемента будет отображаться компонент, который выбирает роутер в соответствии с маршрутом-->	
	<router-outlet ></router-outlet>
</div>
<div style="background-color: lightblue; width: 10%; float:right" >	
	<!--<div>Настройка маршрутизации</div> 
	<ol>
		<li>&lt; &gt;</li>
		<li>&lt; head &gt; <br> &lt;base href="/" &gt;</li>
		<li>import {RouterModule} from ""</li>
	</ol>-->
	
</div>