<div>
    <p>Для пердачи данных из родительского компонента в дочерний используються привязки даннх</p>
    <p> рассмотрим 2 компонента</p>
    <h3>Дочерний </h3>
    <div>
        <my-htmlhighlighter [htmlContent]="child[0].text"></my-htmlhighlighter>
    </div>
    <h3>Родительский </h3>
    <div>
        <my-htmlhighlighter [htmlContent]="child[1].text"></my-htmlhighlighter>
    </div>
    <h4>Особенности примера</h4>
    <p>Как видим для использования дочернего компонента в родительском достаточно в родительском написать имя <code>selector</code>       
     дочернего компонета. Для передачи данных в дочерние компоненты есть несколько способов:
    </p>
    <ol>
        <li>
            Передача строки или числа <code>[name]="'First counter'"</code>, <code>[counterValue]="5"</code>. В правой<code>[name]</code>           
             части мы используем имя переменной(свойства) дочернего компонента которой мы хотим присвоить значение. В правой
            части <code>"'First counter'"</code> мы передаем переменную(свойство) родительского обьекта выделенное "" либо
            ''. В нашем случае мы передаем <code>"'First counter'"</code>, <code>"5"</code> это строка и число.
        </li>
        <li>
            Так же мы можем передвавать переменную(свойство) родительского обьекта выделенное "" либо ''. Если использовать имя несуществующей
            переменной то мы получим ошибку.
        </li>
        <li>
            Перейдем к дочернему компоненту. Тут используться несколько видов привязки. <code>Name = {{name}}</code> в данном случае используеться <b>одностороння привязка</b>
            и вместо <code>{{name}}</code> будет подставляться значение свойства <code>name</code> дочернего компонента. Как мы видим у дочернего компонента есть свойство  name
            <code>name: string = "default child component name "</code> которое типизировно типом <code>string</code> и имеет дефолтное значение 
            <code>"default child component name "</code>. Так же необходимо обратить внимание на метаданные дочернего компонента <code>inputs: ["name"]</code>. 
        </li>
        <li>
            Так же еще один способ указать что значение свойства будет задаваться из вне это декорировать его <code>@Input()</code> <code>@Input() counterValue: number = 0;</code> 
        </li>
        
        <li>есть возможность изменить смапить значение передаваемого значения и принимаемого свойства </li>
        <li>
            Соблюдение всех этих условий дают нам возможность пердавать данные из родительского компонента в дочерний и использовать их в дочернем компоненте.
        </li>
        <li>
            Так же мы видим что в дочернем компонете используеться привязка события на кнопке <code>(click)="increment()"</code> где на событие <code>(click)</code> 
            привязываеться функция <code>"increment()"</code> из класа дочернего компонента
        </li>
    </ol>

    <my-input-child></my-input-child>
    <my-input-child [name]="'First counter'"></my-input-child>
    <my-input-child [name]="'Second counter'" [counterValue]="5"></my-input-child>
    <my-input-child [name]="'Third counter'" [counterValue]="5" [counterStep]="5"></my-input-child>

</div>