<div>
    <p>Для пердачи данных из родительского компонента в дочерний используються привязки даннх</p>
    <p> рассмотрим 2 компонента</p>

    <div>
        <pre>
        <code highlight class="typescript">
    {{myText | escapeHTML}}
     </code>
    </pre>
    </div> 
    <h3>Дочерний </h3>
    <div>
        <pre>
        <code highlight class="typescript">
            @Component(&#123;
                moduleId: module.id,
                selector: 'my-input-child',
                // templateUrl: 'child.component.html',
                template: 
                `
                    &lt;div style=&quot;border: solid 2px grey; border-radius:5px&quot;&gt;
                        &amp;lt;p&amp;gt; Name = &amp;amp;#123;&amp;amp;#123;name&amp;amp;#125;&amp;amp;#125;&amp;lt;/p&amp;gt;
                        &amp;lt;p&amp;gt; Counter = &amp;amp;#123;&amp;amp;#123;counterValue&amp;amp;#125;&amp;amp;#125;&amp;lt;/p&amp;gt;
                        &amp;lt;button (click)=&amp;quot;increment()&amp;quot;&amp;gt; Increment&amp;lt;/button&amp;gt;
                    &lt;/div&gt;
                `,
                inputs: ["name"]
            &#125;)
        </code>
    </pre>
    </div>



    <h3>Родительский </h3>
    <div>
        <pre>
        <code highlight class="typescript">
            @Component(&#123;
                moduleId: module.id,
                selector: 'my-input-parent',
                // templateUrl: 'parent.component.html'
                template:
                `
                &lt;div&gt;
                &lt;pre&gt;
                    &lt;code&gt;
                        &lt;my-input-child&gt;&lt;/my-input-child&gt;
                        &lt;my-input-child [name]=&quot;'First counter'&quot;&gt;&lt;/my-input-child&gt;
                        &lt;my-input-child [name]=&quot;'Second counter'&quot; [counterValue]=&quot;5&quot;&gt;&lt;/my-input-child&gt;
                        &lt;my-input-child [name]=&quot;'Third counter'&quot; [counterValue]=&quot;5&quot; [counterStep]=&quot;5&quot; &gt;&lt;/my-input-child&gt;
                    &lt;/code&gt;
                &lt;/pre&gt;       
                &lt;/div&gt;
                `
            &#125;)
            export class InputParentComponent &#123; &#125;
        </code>
    </pre>
    </div>
    <my-input-child></my-input-child>
    <my-input-child [name]="'First counter'"></my-input-child>
    <my-input-child [name]="'Second counter'" [counterValue]="5"></my-input-child>
    <my-input-child [name]="'Third counter'" [counterValue]="5" [counterStep]="5"></my-input-child>

</div>