<div class="section">
    <h1>Маршрутизация</h1>
    <div><b>Маршрутизация</b> - отслеживание измненений URL в адрасной строке и перенаправление пользователя на определенное представление(template)</div>
    <h2>4 шага по настройке маршрутизации</h2>
    <ol>
        <li>&lt; head &gt; <br> &lt;base href="/" &gt;</li>
        <li>
            <div ngNonBindable>import &#123;RouterModule&#125; from "@angular/router" </div>
        </li>
        <li>
            <pre>const routes: Routes = [ 
    &#123; path: "list1", component: List1Component &#125;, 
    &#123; path: "list2", component: List2Component &#125;,
    &#123; path: "", redirectTo: "list1", pathMatch: "full" &#125;
 ]

 @NgModule(&#123;
    imports: [
        BrowserModule,
        RouterModule.forRoot(routes)
    ]
  &#125;)</pre>
        </li>
        <li>
            <pre>&lt;nav&gt;
	&lt;a routerLink="/list1" routerLinkActive="active"&gt;Lesson 1&lt;/a&gt;
	&lt;a routerLink="/list2" routerLinkActive="active"&gt;Lesson 2&lt;/a&gt;
 &lt;/nav&gt;</pre>
        </li>
    </ol>
    <h3>Описание</h3>
    <div>
        <ul>
            <li>
                Пункт 4 меняет адресную строку при этом не перенаправляет нас на новую страницу
            </li>
            <li>
                пункт 3 подхватывает изменения в адресной строке и перенаправляет нас на нужный компонент, темплейт которой вставляеться
                после &lt;router-outlet &gt;&lt;/router-outlet&gt;
            </li>
        </ul>
    </div>
</div>
<div class="section">
    <h1>Barrel file</h1>
    <div><b>Barrel file</b> - это специальный файл который включает несколько експоротов. Он делает реекспорт модулей упрощая доступ к ним</div>
    <div>так же барел файл сокращает количество импортов import &#123;RouterModule&#125; from "@angular/router" </div>
    <div>итак как же используються барел фафды в данном примере. идея в том чтобы все импорты касающиеся папки lists поместить в один файл с которым потом работать</div>
</div> 