<h1 class="lesson-title">
	Angular 2.
</h1>

<div class="left-menu">
	<nav>
		<div>Routing</div>
		<a routerLink="/routing" routerLinkActive="active">Routing</a> <br />
		<div>Barrel file</div>
		<a routerLink="/BarrelFile" routerLinkActive="active">Barrelfile</a> <br />
		<div>CSS</div>
		<a routerLink="/CSS" routerLinkActive="active" > <span style="color: black; background-color: darkgray">Not implemented</span> Css</a> <br />
		<div>Components</div>
		<a routerLink="/input" routerLinkActive="active" > Input</a> <br />
	</nav>
</div>

<div class="right-menu">
	<!--router-outlet после данного элемента будет отображаться компонент, который выбирает роутер в соответствии с маршрутом-->
	<router-outlet></router-outlet>
</div>